* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ddd;
}

.login__container {
  display: flex;
  margin: 20px 5%;
  height: 80%;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff;
  border-radius: 1.5%;
}
.login__container svg {
  flex: 3;
}
.login__container form {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}
.login__container form h2 {
  /* text-align: center; */
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.login__container form h2::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: -8px;
  left: 0;
}
.login__container form input {
  height: 2.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  background: transparent;
  padding-bottom: 1rem;
  font-size: 20px;
  margin: 2rem 0;
  margin-right: 3rem;
}
.login__container form span {
  margin-left: 2rem;
}
.login__container form span a {
  text-decoration: none;
}
.login__container form button {
  align-self: stretch;
  margin-top: 2rem;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 75%;
  background: #252590;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .login__container {
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
  }
  .login__container svg {
    flex: 4;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
    align-self: stretch;
  }
  .login__container form {
    flex: 2;
  }
}
