* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}
body {
  width: 100%;
  height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  /* background-color: #000c24; */
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}
nav ul li {
  margin-right: 2rem;
  font-size: 1.2rem;
  position: relative;
}
#home {
  color: #f44336;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
.fa-xmark,
.fa-bars {
  display: none;
}
.fa-xmark {
  left: 10px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f44336;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
nav ul li a:hover::after {
  width: 100%;
}
@media only screen and (max-width: 720px) {
  .fa-xmark,
  .fa-bars {
    display: block;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .fa-xmark {
    color: #f44336;
  }
  nav ul {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    position: absolute;
    right: -100%;
    transition: right 0.6s ease-in;
  }
}
